.booking-modal {
  &-button {
    background-color: $colour-button-red !important;
    &:hover {
      background-color: $colour-button-bred-hover !important;
      color: $colour-white !important;
    }
    &:focus {
      outline: none !important;
    }
  }
}
.booking-form {
  margin-top: 6%;

  &-header {
    letter-spacing: 3px;
    font-family: "Pacifico", cursive !important;
    color: #5892ff;
    font-size: 25px;
    margin: auto;
    @media (max-width: 576.98px) {
      font-size: 20px;
    }
  }
  .form-input-textarea {
    background-color: $colour-background;
  }
  &-group {
    display: inline-flex;
    margin: auto;
    width: 98%;
    @media (max-width: 576.98px) {
      display: block;
    }
    &-input {
      width: 46%;
      margin-right: 2%;
      margin-left: 2%;
      @media (max-width: 576.98px) {
        width: 90%;
        margin: 10px;
      }
      & input {
        background-color: $colour-background;
      }
    }
  }
  &-info {
    width: 98%;
    margin: auto;
  }
  &-button {
    background-color: $colour-button-red !important;
    padding: 3px 20px;
    margin: 20px;
    font-size: 18px;
    &:hover {
      background-color: $colour-button-bred-hover !important;
    }
    &:focus {
      outline: none;
    }
  }
  .modal-content {
    width: 650px;
    border: 1px solid $colour-primary;
    box-shadow: 0px -1px 10px 5px $colour-primary;
    @media (max-width: 999.98px) {
      width: 550px;
    }
    @media (max-width: 767.98px) {
      width: 500px;
    }
    @media (max-width: 576.98px) {
      width: auto;
    }
    .form-error {
      color: $colour-error !important;
      font-size: 12px;
    }
    & h4 {
      letter-spacing: 3px;
    }
  }

  .close {
    margin: 0px !important;
    & span {
      font-size: 40px !important;
      color: $colour-button-bred-hover !important;
    }
  }
  .modal-body {
    padding: 10px;
    color: #00000096;
    margin-top: 15px;
  }
}
