.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-primary;
  height: 100vh;
  .login {
    width: 500px;
    background-color: #212529a8;
    padding: 20px;
    border: 15px outset rgba(208, 179, 118, 0.95);
    border-radius: 40px 5px 40px 5px;
    @media (max-width: 576.98px) {
      width: 96%;
      padding: 2px;
      margin: auto;
    }
    &-content {
      text-align: center;
      margin: 20px;
      & h2 {
        color: $colour-white;
        margin: 20px 10px;
        @media (max-width: 767.98px) {
          font-size: 29px !important;
        }
        @media (max-width: 576.98px) {
          font-size: 27px !important;
        }
      }
      & img {
        @media (max-width: 767.98px) {
          width: 50px !important;
        }
      }
    }
    &-input {
      & input {
        margin: 10px;
        width: 90%;
        padding: 5px;
        border-radius: 5px;
      }
      &-error {
        color: #ddc084;
        margin-left: 10px;
      }
    }
    &-error {
      color: #212529;
      margin: 10px;
      width: 90%;
      background-color: #c6ab73;
    }
    &-button {
      font-size: 19px;
      background-color: $colour-button-broun;
      border: 2px solid #eee;
      padding: 2px 20px;
      color: black;
      @media (max-width: 767.98px) {
        font-size: 17px;
      }
      &:hover {
        background-color: $colour-button-broun-hover;
      }
    }
  }
}
