$colour-primary: #00486c;
$colour-secondr: #d0b376;
$colour-third: #353d40;
$colour-background: #eee;
$colour-white: #fff;
$colour-black: #000000bd;
$colour-black-dark: #000;
$colour-error: #a53b40;
/*buuton*/
$colour-button-blue: #00486c;
$colour-button-blue-hover: #002a3f;
$colour-button-red: #812f33;
$colour-button-bred-hover: #4e171a;
$colour-button-broun: #d0b376;
$colour-button-broun-hover: #b58e3e;
